*{
    margin: 0;
}
body{
    padding: 0;
    background:black;
    margin: 0;
}
h1{
    background-color:rgb(50, 50, 50);
    color: white;
    padding: 5px;
    text-align: center;
}
#detail{
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
nav{
    padding: 10px;   
}
a{
    background-color: rgb(70, 70, 70);
    padding: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(90, 90, 90);
}
#detail{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    margin: 20px;
    height: 400px;
}

h2{
    color: white;
    text-align: center;
}

input{
    padding: 10px;
}
#result{
    margin: 20px;
}
#receiver{
    background-color: rgb(100,100,100);
    font-size: 1.5rem;
    padding: 5px;
    margin-left:10px;
    color:white;
}
table{
    width:100%;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}

tr:nth-child(odd){
    background-color:rgb(200,200,200);
}
#send_msg{
    margin: 10px;
}
.noty{
    background-color: rgb(70, 70, 70);
    padding: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.noty:hover{
    background-color: lightcoral;
}

/*chat css*/


